<div class="container ">
    <div class="row">
        <div class="formheader" >
            <p class="firstheading">Registration</p>
        </div>
        <div class=" progressimage text-center ">
            <img src='https://d1-slp-cp.supremelifeplatform.com/assets/img/signup/signup-1.png' alt="error ">
        </div>
        <div class="col-md-12 offset-lg-4 col-lg-4  mt-4">
            <form class=" myform p-4" [formGroup]="registrationform">
                <div class="text-center mb-4">
                    <p class="formheading mb-1">Registration</p>
                    <p class="formwarning ">Enter your mobile number to register</p>
                </div>

                <div class="row ">

                    <div class="col-lg-5 col-md-12 col-sm-12 form-floating ">
                        <div class="label1  ">
                            <label class="form-label ">Country Code <span class="asterisk text-danger">*</span></label>
                            <select class="form-select  country-code " formControlName="countrycode" >
                                <option  value="">Select</option>
                                <option *ngFor="let bank of countryCodes" [value]="bank.name">+({{bank.name}}) {{bank.id}}</option>
                            </select>
                        </div>
                            <div *ngIf="registrationform.controls['countrycode'].invalid && (registrationform.controls['countrycode'].touched || registrationform.controls['countrycode'].dirty  )">
                                <p class="emptyAlert text-danger mb-0"*ngIf="registrationform.controls['countrycode'].errors?.['required']" > <span class="fa fa-info-circle error-info-icon mr-1"></span> Please fill this field to continue  </p>
                            </div>                      
                    </div>

                    <div class="col-lg-7 col-md-12 col-sm-12 form-floating ">
                        <div class="label1 mobile">
                            <label class="form-label mobilelabel ">Mobile Number <span class="asterisk text-danger">*</span></label>
                            <input type="text" class="form-control  " name="mobilenumber" placeholder="XXX-XXX-YYYY"
                            formControlName="mobilenumber" />
                        </div>
                        <div *ngIf="registrationform.controls['mobilenumber'].invalid && (registrationform.controls['mobilenumber'].touched || registrationform.controls['mobilenumber'].dirty  )">
                            <p class="emptyAlert text-danger mb-0"*ngIf="registrationform.controls['mobilenumber'].errors?.['required']" > <span class="fa fa-info-circle error-info-icon mr-1"></span> Please fill this field to continue  </p>
                        </div>
                    </div>
                </div>
                <div class="text-center text-secondary ">
                    <p class="textbeforebutton mt-4">You will receive a verification code on your mobile phone </p>
                </div>
                <div class="text-center">
                    <div class="d-flex justify-content-center">
                        <button class="endbtn1 btn btn-secondary flex-grow-1 me-1 ">Cancel</button>
                        <button class="endbtn2 btn btn-success flex-grow-1 ms-1" (click)="onSubmit()" >Send Code</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>