

<!-- <div class="bgimg"> -->

  <div [ngClass]="{'bgimg': hideImage !== 0,'lotteryBgColor': hideImage === 0}">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Brand</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Supreme Ventures Gaming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lottery" 
          [ngClass]="{ 'active-link': isActive('/lottery') }"           >Lottery Games</a>
        </li>
        <!-- Just Bet Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="justBetDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Just Bet
          </a>
          <ul class="dropdown-menu" aria-labelledby="justBetDropdown">
            <li><a class="dropdown-item" href="#">Sport Betting</a></li>
            <li><a class="dropdown-item" href="#">Live Betting</a></li>
            <li><a class="dropdown-item" href="#">Virtual Betting</a></li>
          </ul>
        </li>
        <!-- Help Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="helpDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Help
          </a>
          <ul class="dropdown-menu" aria-labelledby="helpDropdown">
            <li><a class="dropdown-item" href="#">Top Ups & Redemption</a></li>
            <li><a class="dropdown-item" href="#">Location</a></li>
            <li><a class="dropdown-item" href="#">Account Tiers</a></li>
            <li><a class="dropdown-item" href="#">FAQ's</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
        <button class="btn btn-warning  me-2 text-light px-5"routerLink="login" type="submit">Login</button>
      <button class="btn btn-success me-2 px-5 "routerLink="registration" type="submit">Register</button>
      <button class="btn btn-primary me-2 px-5"routerLink="download" type="submit">Download</button>
      </div>
    </div>
  </div>
</nav>






<!-- 
<div class="container">
  <div class="col"> -->
      <router-outlet></router-outlet>
  <!-- </div>
</div> -->







</div>




