.text{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(233, 232, 232);
    margin-top: auto;

    
    /* bottom:0 ; */
}
.text1{
    text-align: center;
    margin-top: 55px;
}
.link{
    text-decoration: none;
    color:  #777;
}
.text3{
    margin-top: 55px;
}

.text2 ul li{
    list-style: none;
}
.text2 ul :last-child{
    display:inline-flex;
    gap: 30px;
}
footer{
    margin-top: 2rem;
}

.bgimg{
    height: 100vh;
    background-image: url('https://d1-slp-cp.supremelifeplatform.com/background.b5b1c30cc875653fe9c7.png');
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-position: center;
}
.lotteryBgColor{
    background-color: #f0f8ff;
}


.navbar{
    border-bottom:3px solid green;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);}

.horizontalLine {
    margin-top: 0;
    border: none;
    border-top: 4px solid  #269c2f !important;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* .container{
    flex: 1;
} */


    /* @media (max-width: 990px) { 
        .navbar{

        }
    

} */




/* @media (max-width: 768px) {
    .text{
        display:block;

    }
    .text1{
        text-align: start;
    }
    .text2{
        text-align: start !important ;
        padding: 0 0 0 0 ;
        margin: 0 0 0 0 ;
    }
    .text3{
        text-align: start;

    }
    .list_item{
        text-align: start;
    }
} */