<div class="container">
    <div class="formheader">
        <p>Registration (Review)</p>
    </div>
    <div class="progressimage text-center">
        <img src='https://d1-slp-cp.supremelifeplatform.com/assets/img/signup/signup-5.png' alt="Progress">
    </div>

    <div class="mainform mb-5">
    <form class="myform mt-4 mb-4 p-3" >
        <div class="row">

            <div class="col-lg-4 side-border bordered-section mt-2">
                    <span class=" formheading">Personal Details</span>
                        <button (click)="editPersonalInfo()" class="editbutton">
                        <img class="editbtn" src="https://d1-slp-cp.supremelifeplatform.com/assets/img/signup/editicon.png" 
                        alt="error" class="editIcon"> <span class="edittext">Edit</span>
                    </button>
             
                <div class="d-flex align-items-center mt-3">
                    <span class="data-label">First Name</span>
                    <span class="data-value">Aryan</span>
                </div>
                <hr class="horizontalLine">
                <div class="d-flex align-items-center mt-3">
                    <span class="data-label">Middle Name</span>
                    <span class="data-value"></span>
                </div>
                <hr class="horizontalLine"> 
                <div class="d-flex align-items-center mt-3">
                    <span class="data-label">Last Name</span>
                    <span class="data-value">Tyagi</span>
                </div>
                <hr class="horizontalLine">
                <div class="d-flex align-items-center mt-3">
                    <span class="data-label">Date of Birth</span>
                    <span class="data-value">01/11/2006</span>
                </div>
                <hr class="horizontalLine">
                <div class="d-flex align-items-center mt-3 ">
                    <span class="data-label">Gender</span>
                    <span class="data-value">Male</span>
                </div>
                <hr class="horizontalLine">
                <div class="d-flex align-items-center mt-3 ">
                    <span class="data-label">Country of Birth</span>
                    <span class="data-value">Afghanistan</span>
                </div>
                <hr class="horizontalLine">
                <div class="d-flex align-items-center mt-3 ">
                    <span class="data-label">Nationality</span>
                    <span class="data-value">Afghanistan</span>
                </div>
                <hr class="horizontalLine">
            </div>


            <div class="col-lg-4 side-border bordered-section mt-2">
                <!-- <p class="section-title">Permanent Address and Identification -->
                    <span class=" formheading ">Permanent Address and Identification</span>
                    <button class="editbutton"(click)="editAddressInfo()" >
                        <img src="https://d1-slp-cp.supremelifeplatform.com/assets/img/signup/editicon.png" alt="error" class="editIcon"> <span class="edittext">Edit</span>
                    </button>
                <!-- </p> -->
                <div class="d-flex mt-3">
                    <span class="data-label">Street Address</span>
                    <span class="data-value">Modinagar</span>
                </div>
                <hr class="horizontalLine">
                <div class="d-flex mt-3">
                    <span class="data-label">Apartment/Suite</span>
                    <span class="data-value"></span>
                </div>
                <hr class="horizontalLine">
                <div class="d-flex mt-3">
                    <span class="data-label">Town</span>
                    <span class="data-value">AIRY CASTLE</span>
                </div>
                <hr class="horizontalLine">
                <div class="d-flex mt-3">
                    <span class="data-label">District</span>
                    <span class="data-value">CORRY HALL</span>
                </div>
                <hr class="horizontalLine">
                <div class="d-flex mt-3">
                    <span class="data-label">Email Address</span>
                    <span class="data-value">a12gmail.com</span>
                </div>
                <hr class="horizontalLine"> 
                <div class="d-flex mt-3">
                    <span class="data-label">TRN</span>
                    <span class="data-value">784512369</span>
                </div>
                <hr class="horizontalLine">
                <div class="d-flex mt-3">
                    <span class="data-label">ID Type</span>
                    <span class="data-value">Passport</span>
                </div>
                <hr class="horizontalLine">
                <div class="d-flex mt-3">
                    <span class="data-label">ID Number</span>
                    <span class="data-value">95103245678</span>
                </div>
                <hr class="horizontalLine">
                <div class="d-flex mt-3">
                    <span class="data-label">ID Expiration Date</span>
                    <span class="data-value">27/12/2026</span>
                </div>
                <hr class="horizontalLine">

                <!--  -->
                <div class="row text-center ">
                    <div class="image-container ">
                        <div class="image-item ">
                           <div class="p-2 imagebdr">
                            <img src="https://d1-slp-cp.supremelifeplatform.com/assets/img/signup/front-upload.png" alt="Front Image" class="img-fluid text-center">
                           </div>
                            <!-- <p class="text-start ">(Front)</p> -->
                        </div>
                        <div class="image-item ">
                            <div class="p-2 " >
                                <img src="https://d1-slp-cp.supremelifeplatform.com/assets/img/signup/front-upload.png" alt="Back Image" class="img-fluid">
                            </div>
                            <!-- <p  class="text-start ">(Back)</p> -->
                        </div>
                    </div>
                </div>

                <div class="d-flex mt-3">
                    <div class="row w-100">
                        <div class="col-9">
                            <span class="data-label">Would you like to opt for Cash transactions at the retail stores?</span>
                        </div>
                        <div class="col-3 text-end  ">
                            <span class="data-value">No</span>
                        </div>
                    </div>
                </div>
                
                <hr class="horizontalLine">
                <div class="">
                    <a href="#" class=" additionaltxt ">Please click here for additional information on tiers</a>
                </div>

            </div>

            <div class="col-lg-4 bordered-section mt-2   ">
                    <span class=" formheading">Security Details</span>
                    <button class="editbutton "(click)="editSecurityForm()">
                       <img src="https://d1-slp-cp.supremelifeplatform.com/assets/img/signup/editicon.png" alt="error" class="editIcon"> 
                       <span class="edittext">Edit</span>
                    </button>
                <div class="d-flex  mt-3">

                    <span class="data-label">Question 1</span>
                    <span class="data-value">What is your favourite book?</span>
                </div>
                <hr class="horizontalLine">
                <div class="d-flex  mt-3">

                    <span class="data-label">Answer 1</span>
                    <span class="data-value">Your Answer</span>
                </div>
                <hr class="horizontalLine">
                <div class="d-flex mt-3">
                    <span class="data-label">Question 2</span>
                    <span class="data-value">To what city did you go on your honeymoon?</span>
                </div>
                <hr class="horizontalLine">
                <div class="d-flex mt-3">
                    <span class="data-label">Answer 2</span>
                    <span class="data-value">Your Answer 2</span>
                </div>
                <hr class="horizontalLine">
                <div class="d-flex mt-3">
                    <span class="data-label">Are you a Politically Exposed Person (PEP)?</span>
                    <span class="data-value">No</span>
                </div>
                <hr class="horizontalLine">
                <div class="d-flex mt-3">
                    <span class="data-label">Are you the family member of a Politically Exposed Person (PEP)?</span>
                    <span class="data-value">No</span>
                </div>
                <hr class="horizontalLine">
            </div>
        </div>
<div class="row mt-4  btnrow">
    <div class="col text-end"> 
        <button type="button" class="btn btn-secondary backbtn " (click)="toSecurityForm()">Back</button> 
    </div>
    <div class="col"> 
        <button type="submit" class="btn btn-success submitbtn">Submit</button> 
    </div>
</div>


</form>
    </div>
</div>
