<div class="container ">
    <div class="row">
        <div class="formheader" >
            <p class="firstheading">Forgot PIN</p>
        </div>

        <div class="col-md-12 offset-lg-4 col-lg-4  mt-2 mb-0">
            <form class=" myform p-4" [formGroup]="forgotpassword">
                <div class="r mb-4">
                    <p class="formwarning ">Enter your registered mobile number to recover your PIN</p>
                </div>

                <div class="row ">

                    <div class="col-lg-5 col-md-12 col-sm-12 form-floating mt-4">
                        <div class="label1  ">
                            <label class="form-label ">Country Code <span class="asterisk text-danger">*</span></label>
                            <select class="form-select  country-code " formControlName="countrycode">
                                <option  value="">Select</option>
                                <option value="+91">+91(IN)</option>
                                <option  value="+1">+1(JM)</option>
                            </select>
                        </div>
                            <div *ngIf="forgotpassword.controls['countrycode'].invalid && (forgotpassword.controls['countrycode'].touched || forgotpassword.controls['countrycode'].dirty  )">
                                <p class="emptyAlert text-danger mb-0"*ngIf="forgotpassword.controls['countrycode'].errors?.['required']" > <span class="fa fa-info-circle error-info-icon mr-1"></span> Please fill this field to continue  </p>
                            </div>                      
                    </div>

                    <div class="col-lg-7 col-md-12 col-sm-12 form-floating mt-4 ">
                        <div class="label1 cc ">
                            <label class="form-label ">Mobile Number <span class="asterisk text-danger">*</span></label>
                            <input type="text" class="form-control  " name="mobilenumber" placeholder="XXX-XXX-YYYY"
                            formControlName="mobilenumber" />
                        </div>
                        <div *ngIf="forgotpassword.controls['mobilenumber'].invalid && (forgotpassword.controls['mobilenumber'].touched || forgotpassword.controls['mobilenumber'].dirty  )">
                            <p class="emptyAlert text-danger mb-0"*ngIf="forgotpassword.controls['mobilenumber'].errors?.['required']" > <span class="fa fa-info-circle error-info-icon mr-1"></span> Please fill this field to continue  </p>
                        </div>
                    </div>
                </div>

                <div class="text-center mt-4">
                    <div class="d-flex justify-content-center">
                        <button class="endbtn1 btn btn-secondary flex-grow-1 me-1 ">Cancel</button>
                        <button class="endbtn2 btn btn-success flex-grow-1 ms-1" (click)="onSubmit()" >Send Code</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>