
.container{
   height: 100vh;
}
.formheader{
   font-size: large;
   font-family:  Montserrat ;
   text-align: center;
   color: #269c2f;
   margin-top: 2rem;
}

input{
   background-color: white;
}

.firstheading{
   font-size: larger;
}
/* .progressimage img{
   width: 45%;
} */

.myform{
   border: 3px solid rgb(9, 139, 9);
   border-radius: 3%;
   background-color: white;
}
/* .formheading{
   font-size: larger;
   color: #269c2f;
} */
.formwarning{
   font-size: 15px;
   color: #f28b2b;
}

.cc{

   margin-left: -18px;
}


.form-floating label {
   position: relative;
   background-color: white;
   font-size: small;
   font-family: Montserrat;
   position: absolute;
   top: -10px;
   margin-left: 5%;
   letter-spacing: 0.1cap;
}

.form-control, 
.form-select {
   font-size: small;
   height: 45px;
   color: #656565;
}

.form-control:focus, 
.form-select:focus {
   border-color: #0333ba;
   box-shadow: 0 0 5px 2px rgb(0, 212, 14);
}

.form-control.ng-touched.ng-invalid,
.form-control.ng-touched {
   border-color: red;
}
.form-control.ng-touched.ng-valid,
.form-control.ng-touched {
   border-color: rgb(223, 223, 223);
}

.emptyAlert{
   font-size:x-small;
}

.endbtn1{
   font-size: small;
   border-radius: 5px;
   background-color: #656565;
}
.endbtn2{
   font-size: small;
   border-radius: 3px;
   background-color: rgba(9, 163, 9, 0.906);
}
.btn{
   height: 40px;
}


@media (max-width:770px) {

.cc{
   margin-left: 0px;
   /* margin-bottom: 20px; */
}

}




